#ignore all files
/*
/*/

#except sv, qpf, qsf, and sdc
!*.c
!*.h
!*.v
!.qip
!*.sv
!*.qpf
!*.qsf
!*.sdc
!*.txt
!*.qsys
!*.sopcinfo
!*.mif

#Unignore soc folder
!/nios_system/
!/software/
!/VeggieDuino/



